<div [class]="isHeroVillain ? 'hero-item hero-villain' : 'hero-item '">
  <div class="image"><img [src]="hero.image" /></div>
  <div class="details">
    <div class="hero-name"><!-- TODO 103: Muestra el nombre del héroe --></div>
    <div class="hero-powerstats">
      <span
        >Intelligence:
        <!-- TODO 104: Muestra la inteligencia  -->
      </span>
      <div class="hero-powerstats-buttons">
        <!-- TODO 105:
           Crea un button con el simbolo +/-  e invoca a los métodos
           decrementPowerStats o incrementPowerStat de la habilidad intelligence
          Los botones estarán deshabilitados para restar cuando la intelligencia sea 0 y
        estarán deshabilitados para sumar cuando la inteligencia sea 100 -->
      </div>
    </div>
    <div class="hero-powerstats">
      <span
        >Strength:
        <!-- TODO 106: Igual que TODO 104 pero para el strenght --></span
      >
      <div class="hero-powerstats-buttons">
        <!-- TODO 106: Igual que TODO 105 pero para el strenght -->
      </div>
    </div>
    <div class="hero-powerstats">
      <span>
        Speed:<!-- TODO 106: Igual que TODO 104 pero para el speed --></span
      >
      <div class="hero-powerstats-buttons">
        <!-- TODO 106: Igual que TODO 105 pero para el speed -->
      </div>
    </div>
    <div class="hero-powerstats">
      <span
        >Durability:
        <!-- TODO 106: Igual que TODO 104 pero para el durability --></span
      >
      <div class="hero-powerstats-buttons">
        <!-- TODO 106: Igual que TODO 105 pero para el durability -->
      </div>
    </div>
    <div class="hero-powerstats">
      <span
        >Power:<!-- TODO 106: Igual que TODO 104 pero para el power --></span
      >
      <div class="hero-powerstats-buttons">
        <!-- TODO 106: Igual que TODO 104 pero para el power -->
      </div>
    </div>
    <div class="hero-powerstats">
      <span
        >Combat:
        <!-- TODO 106: Igual que TODO 104 pero para el Combat --></span
      >
      <div class="hero-powerstats-buttons">
        <!-- TODO 106: Igual que TODO 104 pero para el Combat -->
      </div>
    </div>
  </div>
</div>
