<div
  [class]="hero.alignment === 'bad' ? 'hero-item hero-villain' : 'hero-item '"
>
  <div class="image skeleton"><img [src]="hero.image" loading="lazy" /></div>
  <div class="details">
    <div class="hero-name">{{ hero.name }}</div>
    <div
      class="hero-powerstats"
      *ngFor="let powerstat of hero.powerstats | keyvalue"
    >
      <span>{{ powerstat.key | titlecase }}: {{ powerstat.value }} </span>
      <div class="hero-powerstats-buttons">
        <button
          class="btn btn-gray"
          [disabled]="powerstat.value === 0"
          (click)="decrementPowerStats(powerstat.key)"
        >
          -
        </button>
        <button
          class="btn btn-gray"
          [disabled]="powerstat.value === 100"
          (click)="incrementPowerStats(powerstat.key)"
        >
          +
        </button>
      </div>
    </div>
    <hr class="m-4 border-amber-600" />
    <span
      class="btn btn-gray mr-2 text-xl"
      [routerLink]="['/hero', 'update', hero.id]"
      >Update
    </span>
    <span class="btn btn-blue mr-2 text-xl" [routerLink]="['/hero', hero.id]"
      >View
    </span>
    <span class="btn btn-red mr-2 text-xl" (click)="deleteHero(hero)"
      >Delete
    </span>
  </div>
</div>
