<h3>Add an Hero!</h3>

<div>
  <h4 class="error">{{ message }}</h4>
  <form (ngSubmit)="addHero()" [formGroup]="heroForm">
    <div class="row">
      <div class="column">
        <div class="input-group">
          <label for="name">Nombre: </label>
          <input
            type="text"
            name="name"
            placeholder="Name"
            formControlName="name"
            required
          />
          <div
            class="error"
            *ngIf="
              (heroForm.get('name')?.dirty || message) &&
              heroForm.get('name')?.invalid
            "
          >
            <div *ngIf="heroForm.get('name')?.getError('required')">
              * Hero name is required
            </div>
          </div>
        </div>
        <div formGroupName="powerstats">
          <div class="input-group">
            <label for="combat">Combat: </label>
            <input
              type="number"
              name="combat"
              placeholder="Combat"
              formControlName="combat"
            />

            <div
              class="error"
              *ngIf="
                (heroForm.get('combat')?.dirty || message) &&
                heroForm.get('combat')?.invalid
              "
            >
              <div *ngIf="heroForm.get('combat')?.getError('required')">
                * Hero name is required
              </div>
            </div>
            <div
              class="error"
              *ngIf="
                heroForm.get('powerstats')?.get('combat')?.dirty &&
                heroForm.get('powerstats')?.get('combat')?.invalid
              "
            >
              <div
                *ngIf="
                  heroForm
                    .get('powerstats')
                    ?.get('combat')
                    ?.getError('required')
                "
              >
                * Combat is required
              </div>
              <div
                *ngIf="
                  heroForm.get('powerstats')?.get('combat')?.getError('min') ||
                  heroForm.get('powerstats')?.get('combat')?.getError('max')
                "
              >
                * Combat must be a value between 0 and 100
              </div>
            </div>
          </div>
          <div class="input-group">
            <label for="durability">Durability </label>
            <input
              type="number"
              name="durability"
              placeholder="Durability"
              formControlName="durability"
            />
          </div>
          <div class="input-group">
            <label for="intelligence">Intelligence: </label>
            <input
              type="number"
              name="intelligence"
              placeholder="Intelligence"
              formControlName="intelligence"
            />
          </div>
          <div class="input-group">
            <label for="power">Power: </label>
            <input
              type="number"
              name="power"
              placeholder="Power"
              formControlName="power"
            />
          </div>
          <div class="input-group">
            <label for="speed">Speed: </label>
            <input
              type="number"
              name="speed"
              placeholder="Speed"
              formControlName="speed"
            />
          </div>
          <div class="input-group">
            <label for="strength">Strength: </label>
            <input
              type="number"
              name="strength"
              placeholder="Strength"
              formControlName="strength"
            />
          </div>
        </div>
        <div class="input-group">
          <label for="image">Image: </label>
          <select formControlName="image">
            <option
              value="https://cdn.jsdelivr.net/gh/akabab/superhero-api@0.3.0/api/images/sm/370-joker.jpg"
              selected
            >
              Joker
            </option>
            <option
              value="https://cdn.jsdelivr.net/gh/akabab/superhero-api@0.3.0/api/images/sm/87-bionic-woman.jpg"
            >
              Bionic Woman
            </option>
            <option
              value="https://cdn.jsdelivr.net/gh/akabab/superhero-api@0.3.0/api/images/sm/165-catwoman.jpg"
            >
              Cat Woman
            </option>
            <option
              value="https://cdn.jsdelivr.net/gh/akabab/superhero-api@0.3.0/api/images/sm/332-hulk.jpg"
            >
              Hulk
            </option>
            <option
              value="https://cdn.jsdelivr.net/gh/akabab/superhero-api@0.3.0/api/images/sm/644-superman.jpg"
            >
              Superman
            </option>
          </select>
        </div>
        <div class="input-group">
          <label for="alignment">Alignment: </label>
          <select formControlName="alignment">
            <option value="good" selected>Good</option>
            <option value="bad">Bad</option>
          </select>
        </div>
      </div>
    </div>
    <div class="row">
      <button [disabled]="heroForm.invalid">Create</button>
    </div>
  </form>
</div>
