<footer class="bg-gray-300">
  <div class="max-w-screen-2xl mx-auto py-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <a
        href="https://youtube.com/c/@DotTechES"
        class="flex items-center mb-4 sm:mb-0"
      >
        <img src="assets/logo.png" class="h-8 mr-3" alt="DotTech Logo" />
        <span class="self-center text-2xl font-semibold">DotTech</span>
      </a>
      <span class="text-sm text-gray-800"
        >© 2023
        <a href="https://youtube.com/c/@DotTechES" class="hover:underline"
          >DotTech</a
        >. All Rights Reserved.
      </span>
    </div>
  </div>
</footer>
