h3 {
  text-align: center;
}

.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
  padding: 1em;
  width:100%;
}
.error {
  color:red;
}
img {
  width: 320px;
  height: 480px;
}

