/* You can add global styles to this file, and also import other style files */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.btn {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  cursor: pointer;
}

.btn-gray {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.btn-gray:hover {background-color: #e7e7e7;}

.btn-blue {
  background-color: white;
  color: black;
  border: 2px solid #008CBA;
}

.btn-blue:hover {
  background-color: #008CBA;
  color: white;
}

.mr-2 { margin-right: 0.5rem; }


.skeleton {
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 80%);
  }
  100% {
    background-color: hsl(200, 20%, 95%);
  }
}
